@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

  
html {
    background-color: #d8e2e5;    
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 10px;    
}

body {
    background-color: #D8E2E5;
    font-size: 1.5em;
    min-height: 100vh;
    margin:0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


