@function map-deep-get($map, $keys...) {
    @each $key in $keys {
        $map: map-get($map, $key);
    }
    @return $map;
}

  
html {
    background-color: #d8e2e5;    
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 10px;    
}

body {
    background: #165571; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #165571 0%, #0e1823 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #165571 0%,#0e1823 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #165571 0%,#0e1823 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#165571', endColorstr='#0e1823',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-size: 1.5em;
    min-height: 100vh;
    margin:0;
}

*, *:before, *:after {
    box-sizing: inherit;
}


