.btn {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 24px;
  
  &-dark {
    background-color: #000;
    color: #fff;
  }
  &-google-login {
    padding-left: 50px;
    position: relative;

    &::before {
      background-image: map-deep-get($icons, "google");
      content: '';
      display: inline-block;
      height: 18px;
      left: 30px;
      margin: -9px 0 0 -9px;
      position: absolute;
      top:50%;
      width: 18px;
      
    }
  }
}