.btn {
  background-color: transparent;
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  &-dark {
    background-color: #000;
    color: #fff;
  }

  &-text {
    font-size: 1.2em;
    font-weight: bold;
    text-transform: uppercase;
  }

  &-logout {
    background-image: map-deep-get($icons, "logoutWhite");
    display: inline-block;
    float: right;
    height: 60px;
    width: 40px;
  }
  &-delete,
  &-edit {
    background-position: center center;
    border-radius: 17px;
    height: 34px;
    margin-top: -20px;
    position: absolute;
    right: 40px;
    text-align: center;
    top: 50%;
    width: 34px;
  }

  &-delete {
    background-color: #ffebeb;
    background-image: map-deep-get($icons, "trashRed");
  }

  &-edit {    
    background-image: map-deep-get($icons, "editDark");
    background-position: center center;
    right: 80px;    
  }

  &-add-another {
    background-image: map-deep-get($icons, "plusDark");
    color: rgba(0,0,0,0.3);
    font-size: 1em;
    height: 28px;
    line-height: 28px;
    padding-left: 36px;
  }

  &-done {    
    background-image: map-deep-get($icons, "checkWhite");
    bottom: 15px;
    color: #fff;
    height: 40px;
    padding-left: 36px;
    position: absolute;
    right: 20px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  }

  &-back {
    float: left;
    margin: 5px;
    background-image: map-deep-get($icons, "arrowLeft");
    cursor: pointer;
    height: 40px;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 40px;
    z-index: 1;
  }

  &-close {
    background-image: map-deep-get($icons, "modalClose");
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    width: 24px;
    z-index: 1;
  } 

  &-fab {
    bottom: 40px;
    position: fixed;    
    right: 40px;
  }

  &-add-new-route {
    background-color: #666;    
    border-radius: 23px;
    box-shadow: $floating-shadow;
    cursor: pointer;
    display: block;
    height: 46px;
    width: 46px;
    z-index: 100;

    &::before {
      background-image: map-deep-get($icons, "plusWhite");
      background-repeat: no-repeat;
      content:"";      
      display: block;
      height: 20px;
      left: 8px;
      position: relative;
      top: 0;
      width: 20px;
    }
  }

  &-google-login {
    padding: 16px 24px 16px 50px;
    position: relative;

    &::before {
      background-image: map-deep-get($icons, "google");
      content: '';
      display: inline-block;
      height: 18px;
      left: 30px;
      margin: -9px 0 0 -9px;
      position: absolute;
      top:50%;
      width: 18px;
    }
  }
}

// button variants - todod: maybe move that somewhere
.route-Yes {
  .btn-edit {
    background-color: #E7ECEE;
  }
}

.route-No {
  .btn-edit {
    background-color: #fff;
  }
}

