.btn {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
  &-dark {
    background-color: #000;
    color: #fff;
  }
  &-google-login {
    padding: 16px 24px 16px 50px;
    position: relative;

    &::before {
      background-image: map-deep-get($icons, "google");
      content: '';
      display: inline-block;
      height: 18px;
      left: 30px;
      margin: -9px 0 0 -9px;
      position: absolute;
      top:50%;
      width: 18px;
    }
  }
}

.text-btn {
  background-color:transparent;
}