// Todo Lucyna you can change this as you wish
.gnarl-container {
    ls-gnarl {
        ls-gnarl-input {
            
            .input-txt-value {
                color: #fff;
                font-size: 3.0em;
                font-weight: bold;
            }
            .input-txt-value:focus {
                border-bottom: 2px solid white;
                outline: none;
                position: relative;                
            }
            .input-txt-value-invalid:focus {
                border-bottom: 2px solid red;
                text-shadow: 2px 2px 4px rgba(255,0,0,0.4);
            }
            .output-txt-value {
                color: white;
                font-size: 3.2em;
                font-weight: bold;
                text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
            }
        }
    }
}