.modal-bg {
    background-color: $modal-bg-color;    
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 10;
}

// material components styling

//step 1
.step-1 {
    .new-route-wizard-radio {
        .mat-radio {
            &-button {
                margin: auto;
                width: 150px;
            } 
            &-label {
                display: block;
                height: 110px;
                margin: 2.0em auto;  
                padding-top: 24px;                
                &::before {
                    content: '';
                    display: block;
                    height: 40px;
                    margin: 0 auto 15px auto;
                    width: 40px;
                }
            }
            &-button {
                display: block;
                &.climbed label::before {
                    background-image: map-deep-get($icons, "smileyDark");
                }
                &.failed label::before{
                    background-image: map-deep-get($icons, "sadDark");
                }               
                &.climbed.mat-radio-checked label:before,
                &.climbed label:hover::before {
                    background-image: map-deep-get($icons, "smileyWhite");
                } 
                &.failed.mat-radio-checked label:before,              
                &.failed label:hover::before {
                    background-image: map-deep-get($icons, "sadWhite");
                }
            }
        }             
    }
}

//step 2
.step-2 {
    .new-route-wizard {
        &-radio {      
            margin: auto;
            text-align: center;
            .mat-radio {
                &-label {
                    padding: .4em 1.0em;
                    text-align: center;
                }
            }
        }
        &-knob {
            width: 100%;
        }
    } 
}

//step 3
.step-3 {
    .new-route-wizard-radio {
        height: 100%;        
        .mat-radio {
            &-button {
                display: block;
                margin: 20px auto;
                height: 40px;
                line-height: 40px;
                width: 150px;
            }
            &-label {   
                display: block; 
            }  
        }            
    }
}

//step 4
.step-4 {
    .new-route-wizard-radio {
        height: 100%;        
        .mat-radio {
            &-button {
                background-color: #f6f6f6;                
                color: #8b8b8b;
                font-weight: normal;
                margin: 10px;
                height: 40px;
                line-height: 40px;               

                &.flash label::before {                    
                    background-image: map-deep-get($icons, "flashDark");
                }
                &.os label::before {
                    background-image: map-deep-get($icons, "eyeDark");
                }
                &.flash.mat-radio-checked label:before, 
                &.flash label:hover::before {
                    background-image: map-deep-get($icons, "flashWhite");
                }
                &.os.mat-radio-checked label:before, 
                &.os label:hover::before {
                    background-image: map-deep-get($icons, "eyeWhite");
                }
            }
            &-checked {
                background-color: rgba(0,0,0,0.3);
                color: #fff;
            }
            &-label {        
                display: block; 
                padding: 0 30px 0 45px;
                position: relative;
                &::before {
                    background-repeat: no-repeat;
                    background-position: left center;
                    content: '';
                    display: block;
                    left: 15px;
                    height: 40px;
                    margin: 0 auto 15px auto;
                    position: absolute;
                    width: 40px;
                }
            }  
        }            
    }
}


.new-route-wizard {
    .mat-radio {
        &-button {
            background-color: transparent;
            border-radius: 3px;
            color: rgba(0,0,0,0.3);            
            font-weight: bold;                      
            text-align: center;            
            &:hover {
                background-color: rgba(0,0,0,.25);
                color: #fff;
            }

        }
        &-label {
            &-content {
                margin: auto;
                padding: 0;
            }
        }    
        &-checked:hover,
        &-checked {
            background-color: rgba(0,0,0,.35);
            color: #fff;
        }
        &-container {
            display: none;
        }       
    }    
}

// new route wizard common styling
.new-route-wizard {    
    align-content: stretch;
    background-color: #ffdd00;
    border-radius: 3px;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 95%;
    max-height: 660px;
    max-width: 345px;
    margin: 20px auto auto auto;
    position: relative;
    text-align: center;
    top: 2.5%;
    width: 95%;
    
    & > div {
        flex: 1;
    }

    &-head {
        max-height: 180px;               
        h3 {
            font-size: 2.0em;
            padding-top: 26%;
            text-align: center;
            text-shadow: 0 2px 3px rgba(0,0,0,0.15);
        }
    }

    &-main {        
    }
    &-bottom {
        max-height: 60px;
    }

    &-foot {
        max-height: 60px;
    }   

    // buttons

    

}







  