$modal-bg-color: rgba(0,0,0,0.4);
$color-black: #000;
$floating-shadow: 2px 2px 4px rgba(0,0,0,.3);
$flat-shadow: 0 0 3px rgba(0,0,0,.25);
$gradeColors: (
   route4a: #6229B8,
   route4aPlus: #473ECE,
   route4b: #4D87EB,
   route4bPlus: #36C8FF,
   route4c: #30D6D6,
   route4cPlus: #009A66,
   route5a: #35B768,
   route5aPlus: #76D448,   
   route5b: #BDE221,
   route5bPlus: #FFE600,  
   route5c: #FFC400,
   route5cPlus: #FCA138,   
   route6a: #F96D01,
   route6aPlus: #FF4534,
   route6b: #E80018,
   route6bPlus: #CC0015,
   route6c: #D80267,
   route6cPlus: #FC2B94,
   route7a: #EB53B3,
   route7aPlus: #BE40A0,   
   route7b: #A72195,
   route7bPlus: #851485
);
$icons: (
   modalClose: url("/assets/icons/close.svg"),
   smileyDark: url("/assets/icons/smile-dark.svg"),
   smileyWhite: url("/assets/icons/smile-white.svg"),
   sadDark: url("/assets/icons/sad-dark.svg"),
   sadWhite: url("/assets/icons/sad-white.svg"),   
   arrowLeft: url("/assets/icons/arrow-left.svg"),
   google: url("/assets/icons/google.svg"),
   arrowUp: url("/assets/icons/chevron_up.svg"),
   arrowDown: url("/assets/icons/chevron_down.svg"),
   eyeWhite: url("/assets/icons/eye-white.svg"),
   eyeDark: url("/assets/icons/eye-dark.svg"),
   flashWhite: url("/assets/icons/flash-white.svg"),
   flashDark: url("/assets/icons/flash-dark.svg"),
   plusDark: url("/assets/icons/plus-dark.svg"),
   checkWhite: url("/assets/icons/checkmark-white.svg"),
   plusWhite: url("/assets/icons/plus-white.svg"),
   editDark: url("/assets/icons/edit-dark.svg"),
   trashRed: url("/assets/icons/trash-redish.svg"),
   logoutWhite: url("/assets/icons/logout-white.svg")
);

