$modal-bg-color: rgba(0,0,0,0.4);

$icons: (
   modalClose: url("/assets/icons/close.svg"),
   smileyDark: url("/assets/icons/smile-dark.svg"),
   smileyWhite: url("/assets/icons/smile-white.svg"),
   sadDark: url("/assets/icons/sad-dark.svg"),
   sadWhite: url("/assets/icons/sad-white.svg")   
)

// $gradeColors: (
  
// )


