<div class="new-route-wizard step-2" *ngIf="display" (dblclick)="onNext()">
        <div class="new-route-wizard-head">
                <button class="btn-close" (click)="onClose()"></button>
                <h3>Scale and Grade</h3>
        </div>
        <div class="new-route-wizard-main">
                <mat-radio-group class="new-route-wizard-radio" [(ngModel)]="grade.gradeType" (change)="onGradeTypeChange($event)">
                        <mat-radio-button value="FRENCH">French</mat-radio-button>
                        <mat-radio-button value="POLISH">Polish</mat-radio-button>
                </mat-radio-group>
                <!-- French grader -->
                <div class="gnarl-container" *ngIf="isFR">
                        <ls-gnarl
                                [(value)] = "grade.gradeValue"
                                (invalidInput) = "onInvalidInput()"
                                (valueChange) = "onValueChange()"
                                [buttonPos] = "'V'"
                                [gnarlRadius]="130"
                                [gnarlStrokeWidth]="6"
                                [knobStrokeWidth]="1"
                                [knobColor]="'#fff'"
                                [opacity]="0.2"
                                [set]="CONFIG.FR_SET"
                                [editableInput]="true">
                
                        <!-- Down arrow icon -->
                                <svg class="down" width="40" height="40" x="-20" y="-20"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                        <image xlink:href="../../../../../assets/icons/chevron_down.svg" height="40" width="40"/>
                                </svg>
                        
                
                        <!-- Up arrow icon -->
                                <svg class="up" width="40" height="40" x="-20" y="-20"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                        <image xlink:href="../../../../../assets/icons/chevron_up.svg" height="40" width="40"/>
                                </svg>
                
                        <!-- Knob icon -->
                                <svg class="knob" width="40" height="40" x="-20" y="-20" (dblclick)="onNext()"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                        <image xlink:href="../../../../../assets/icons/knob.svg" height="40" width="40"/>
                                </svg>
                
                        </ls-gnarl>
                </div>
                <!-- Polish grader -->
                <div class="gnarl-container" *ngIf="isPL">
                        <ls-gnarl
                                [(value)] = "grade.gradeValue"
                                (invalidInput) = "onInvalidInput()"
                                (valueChange) = "onValueChange()"
                                [buttonPos] = "'V'"
                                [gnarlRadius]="130"
                                [gnarlStrokeWidth]="6"
                                [knobStrokeWidth]="1"
                                [knobColor]="'#fff'"
                                [opacity]="0.2"
                                [set]="CONFIG.PL_SET"
                                [editableInput]="true">
                
                        <!-- Down arrow icon -->
                                <svg class="down" width="40" height="40" x="-20" y="-20"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                        <image xlink:href="../../../../../assets/icons/chevron_down.svg" height="40" width="40"/>
                                </svg>
                        
                
                        <!-- Up arrow icon -->
                                <svg class="up" width="40" height="40" x="-20" y="-20"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                        <image xlink:href="../../../../../assets/icons/chevron_up.svg" height="40" width="40"/>
                                </svg>
                
                        <!-- Knob icon -->
                                <svg class="knob" width="40" height="40" x="-20" y="-20"  (dblclick)="onNext()"
                                xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">       
                                <image xlink:href="../../../../../assets/icons/knob.svg" height="40" width="40"/>
                                </svg>
                
                        </ls-gnarl>
                </div>
                <div class="route-hint">
                        Double-tap anywhere to confirm
                </div>
        </div>
        <div class="new-route-wizard-foot">
                <button class="btn btn-back" (click)="onBack()"></button>
        </div>
</div>
