<div class="route-wizard-overlay" *ngIf="display">
        <button class="close-button" (click)="onClose()"></button>
        <h3>Scale and Grade</h3>
        <mat-radio-group class="route-wizard-radio-step2 example-radio-group" [(ngModel)]="gradeType">
                <mat-radio-button class="example-radio-button" value="FRENCH">French</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="POLISH">Polish</mat-radio-button>
        </mat-radio-group>
        <mat-form-field class="example-full-width">
                <input matInput placeholder="Grade" [(ngModel)]="grade">
        </mat-form-field>
        <button class="next-button" (click)="onNext()">></button>
        <button class="back-button" (click)="onBack()"><</button>
</div>
