<div class="route-wizard modal-bg" *ngIf="display">
  <clg-overall-state 
      (finished)="onOverallStateSelectionEnd($event)" 
      (close)="onClose()"></clg-overall-state>
  <clg-route-grade 
      (finished)="onRouteGradeSelectionEnd($event)" 
      (close)="onClose()" 
      (back)="onRouteGradeBack()"></clg-route-grade>
  <clg-belay-mode 
      (finished)="onBelayModeSelectionEnd($event)" 
      (close)="onClose()" 
      (back)="onBelayModeBack()"></clg-belay-mode>
  <clg-tags 
      (finished)="onTagsSelectionEnd($event)" 
      (close)="onClose()"  
      (back)="onTagsBack()"></clg-tags>
</div>
