<mat-list-item>
    <div class="route route-{{stringfy(route?.grade?.gradeValue.value)}} route-{{route?.succeded | boolean}}">
        <div class="route-grade">
            {{route?.grade?.gradeValue.value}}
        </div>
        <div class="route-belay route-belay-{{route?.belayMode}}">
            {{route?.belayMode}}
        </div>
        <div class="route-style">
            OS
        </div>
        <div class="route-style">
            FL
        </div>
        <!-- <div>{{route?.endingMode | json}}</div> -->
        <button class="btn btn-edit" (click)="onDelete(route.id)"></button>
        <button class="btn btn-delete" (click)="onDelete(route.id)"></button>
    </div>    
</mat-list-item>
    