.route {
    background-color: #fff;    
    box-shadow: 0 0 6px rgba(0,0,0,0.25);
    display: block;
    margin: 0 0 10px 0;
    padding: 10px;
    width: 100%;

    &-grade {
        display: inline-block;
        font-size: 2.8em;
        font-weight: bold;
        margin-right: 10px;
    }

    &-belay {
        border-radius: 3px;
        display: inline-block;
        padding: 0 3px;

        &-Lead {
            background-color: #2C666E;
            border: 1px solid #2C666E;
            color: #fff;            
        }
        &-Toprope {
            border: 1px solid #2C666E;
            color: #2C666E;            
        }
        &-Auto {
            background-color: rgba(44,102,110,.18);
            border: 1px solid #2C666E;
            color: #2C666E;
        }
    }

    &-No {
        background-color:#E7ECEE;
        border-right: 1px dashed #95989A;
        border-top: 1px dashed #95989A;
        border-bottom: 1px dashed #95989A;
    }
}

.mat-list-item {
    height: auto;
}
