.example-radio-group {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
    margin: auto;
}
  
.example-radio-button {
  margin: 5px;
}

.example-selected-value {
  margin: 15px 0;
}







