.example-radio-group {
    display: inline-flex;
    position: relative;
    flex-direction: column;
    width: 10vw;
    height: 10vh;
    margin: auto;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }

  h3 {
      position: relative;
      display: block;
      margin: 10px;
      text-align: center
  }
  .route-wizard select.route-wizard-overlay {
      opacity: 1;
}